:root{
  --primary: #348789;
  --secondary: #001489;
  --gray-50: #dddfe8;
  --gray-100: #97909050;
  --gray-200: #535653;
  --gray-300: #7c838b;
  --white: #fff;
  --black: #272b30;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;

}

.container{
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}